<h1>Who's Up for Dinner?</h1>

<div>
   <a class="button" href="/day/monday">Monday</a>
   <a class="button" href="/day/tuesday">Tuesday</a>
   <a class="button" href="/day/wednesday">Wednesday</a>
   <a class="button" href="index.html">Thursday</a>
   <a class="button" href="index.html">Friday</a>
   <a class="button" href="index.html">Saturday</a>
   <a class="button" href="index.html">Sunday</a>

</div>


<!-- {{#each friend}}
  <div>
    {{this.friend_name}}
  </div>
{{/each}} -->
